.card-body {
    width: inherit;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 150px;
    margin: 15px;
    padding: inherit;
    background-color: #f6f2f1;
}

.card img {
    height: 200px;

}

#bookSearch {
    display: flex;
    justify-content: space-evenly;
}

.holdingBox {
    justify-content: space-between; 
}

#summaryList { 
    width: 48%; 
    min-height: 150px; 
    padding: 0.5em; 
    margin: 10px; 
    background-color: #f6f2f1;
    text-align: center;
    border-radius: .3rem;
    height: auto;
}

#yesList { 
    width: 48%; 
    min-height: 150px; 
    padding: 0.5em; 
    margin: 10px; 
    background-color: #f6f2f1;
    text-align: center;
    border-radius: .3rem;
    height: auto;
}

.dropOnActive {
    background-color: #fce6d7;
    flex-wrap: wrap;
    margin: inherit;
}

.holdOnActive {
    background-color: #ebb998;
    flex-wrap: wrap;
    margin: inherit;
}


/* need to find way to make cards in holding areas smaller and within box */
.holdOnActive, .dropOnActive > .card {
    text-align: left;
} 

body {
    background: url(images/arch-library.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.jumbotron {
    background-color:#f6f2f1;
}


.card .ui-draggable .ui-draggable-handle .holdOnActive .ui-draggable-disabled {
    width: 150px;
}
