.card-body {
    width: inherit;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 150px;
    margin: 15px;
}

.card img {
    max-width: 150px;

}

#bookSearch {
    display: flex;
    justify-content: space-evenly;
}

.holdingBox {
    justify-content: space-between; 
}

#summaryList, #yesList { 
    width: 40%; 
    min-height: 150px; 
    padding: 0.5em; 

    margin: 10px; 
    background-color: #e9ecef;
    height: auto;

}


.dropOnActive {
    background-color: cornsilk;

}

.holdOnActive {
    background-color: pink;
}