.card-body {
    width: inherit;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 150px;
    margin: 15px;
    padding: inherit;
    background-color: #e9ecef;
}

.card img {
    height: 200px;

}

#bookSearch {
    display: flex;
    justify-content: space-evenly;
}

.holdingBox {
    justify-content: space-between; 
}

#summaryList, #yesList { 
    width: 48%; 
    min-height: 150px; 
    padding: 0.5em; 
    margin: 10px; 
    background-color: #e9ecef;
    max-height: 300px;
    text-align: center;
}

.dropOnActive {
    background-color: cornsilk;
}

.holdOnActive {
    background-color: pink;
}